<a href="#" class="vehicle btn btn-default" tabindex="0">
  <p>
    <span class="make-model"><%= vehicle.make %> <%= vehicle.model %></span>
    <span class="description"><%= vehicle.description %></span>
  </p>
  <span class="mileage"><%= vehicle.base_mileage %> miles</span>
</a>

