<div class="title">
  <h2>
    <span><%= vehicle.year %></span>
    <span><%= vehicle.make %></span>
    <span><%= vehicle.model %></span>
  </h2>
  <div class="buttons">
    <button class="btn btn-default">
      <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-danger">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
