<div class="mileage-summary">
  <h3>Mileage</h3>
  <div class="entries row">
    <span class="lifetime col-xs-6 col-md-4">
      <span class="entry-label">Lifetime:</span>
      <span class="value">value</span>
    </span>
    <span class="6mo col-xs-6 col-md-4">
      <span class="entry-label">6 months:</span>
      <span class="value">value</span>
    </span>
    <span class="maintenance col-xs-6 col-md-4">
      <span class="entry-label">Since maintenance:</span>
      <span class="value">value</span>
  </div>
</div>
