<div class="mpg-summary">
  <h3>MPG</h3>
  <div class="entries row">
    <span class="lifetime col-xs-6">
      <span class="entry-label">Lifetime:</span>
      <span class="value">
        <%= pretty_number vehicle.lifetime_mpg %>
        MPG
      </span>
    </span>
    <span class="6mo col-xs-6">
      <span class="entry-label">6 months:</span>
      <span class="value">
        <%= pretty_number vehicle.recent_mpg(6.months) %>
        MPG
      </span>
    </span>
  </div>
</div>

