<div class="data-table">
  <div class="entry row">
    <div class="title col-sm-3">
      <i class="fa modifier fa-caret-up increase"></i>
      <i class="fa fa-fw fa-tachometer"></i>
      <span>20.2 MPG</span>
    </div>
    <div class="detail col-sm-4">
      <span>321 miles</span>
    </div>
    <div class="date col-sm-3">
      <span>Oct 3rd, 2016</span>
    </div>
    <div class="action col-sm-2">
      <button class="btn btn-link">
        <i class="fa fa-pencil"></i>
      </button>
      <button class="btn btn-link">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div class="entry row">
    <div class="title col-sm-4">
      <i class="fa modifier"></i>
      <i class="fa fa-fw fa-wrench"></i>
      <span>Jim's Autocare</span>
    </div>
    <div class="detail col-sm-5">
      <span>Oil change, tire rotation</span>
    </div>
    <div class="date col-sm-3">
      <span>Sep 20th, 2016</span>
    </div>
  </div>
</div>
