<div class="vehicle">
  <%= render partial: 'title', locals: { vehicle: @vehicle } %>
  <div class="summaries row">
    <div class="col-sm-6">
      <%= render partial: 'mpg_summary', locals: { vehicle: @vehicle } %>
    </div>
    <div class="col-sm-6">
      <%= render partial: 'mileage_summary', locals: { vehicle: @vehicle } %>
    </div>
  </div>
  <div class="buttons">
    <a href="#" class="btn btn-default">
      <i class="fa fa-tachometer"></i> Add fueling
    </a>
    <a href="#" class="btn btn-default">
      <i class="fa fa-wrench"></i> Add maintenance
    </a>
  </div>
  <%= render partial: 'table', locals: { vehicle: @vehicle } %>
</div>
